#mainDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#pageDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    cursor: pointer;
}